* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    background: white;
    font-family: sans-serif;
}

/*стить параграфа*/

.h2class {
    font-weight: 500px;
    font-size: 44px;
    text-align: center;
}

.h3class {
    font-size: 36px;
    text-align: center;
}

.h4class {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

/*стиль полей ввода и блоков ввода*/
.inputtextarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4
}

/*особый стить для класса submit*/
.submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    display: flex;

}

.main_top-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main_header {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.main_top {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    background-position: right 115px;
}

.main_top_h1 {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: #1F3F68;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.text {
    font-size: 16px;
    color: #1F3F68;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.main_top_text {
    width: 425px;
}

.main_top_buttom {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.content {
    border: 3px solid rgb(226, 43, 43);
}


.content_top {
    border: 3px solid darkgreen;
    display: flex;
    justify-content: space-between;
}

.content_top_contacts {

    border: 3px solid darkgreen;

}

.content_center_left {
    border: 3px solid violet;
    width: 359px;


}

.table_contacts {
    border: 3px solid lightpink;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}




.content_center_left_contacts {

    border: 3px solid violet;
    padding: 20px;


}

.content_center {
    border: 3px solid darkred;

}

.footer {
    border: 3px solid red;

    max-width: 100%;
}

.footer_top {
    border: 3px solid gray;


}

.footer_top_left {
    border: 3px solid lightpink;
    width: 495px;
}

.intersted {
    width: 340px;
}

.paragraph_intersted {
    width: 495px;
}

.footer_bottom {
    border: 3px solid lightgreen;

}

.ul_string {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.footer_copyrights {
    border: 3px solid lightgrey;

}

.map {
    border: 3px solid rgb(120, 113, 113);

}